{% include base_path %}

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. All rights reserved.</div>

<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.author.email %}
      <li><a href="mailto:{{ site.author.email }}" aria-label="Email"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if site.author.linkedin %}
      <li><a href="{{ site.author.linkedin }}" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if site.author.googlescholar %}
      <li><a href="{{ site.author.googlescholar }}" target="_blank" aria-label="Google Scholar"><i class="fas fa-graduation-cap" aria-hidden="true"></i></a></li>
    {% endif %}
  </ul>
</div>
