/* ==========================================================================
   CUSTOM OVERRIDES
   ========================================================================== */

strong {
  color: #08519C;
}

.archive {
  color: #536878;
}

.author__name {
  color: #08519C;
}

.masthead__inner-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1.5em;
  row-gap: 0.3em;
}

.masthead__title {
  padding: 0;
}

.masthead__title a {
  font-family: 'Playwrite US Trad', cursive;
  font-size: 3.4rem;
  line-height: 1;
  color: #08306B;
}

.greedy-nav a,
.greedy-nav .visible-links a,
.greedy-nav .hidden-links a {
  color: #08306B;
  font-weight: bold;
  text-transform: uppercase;
}

.masthead__menu {
  width: auto;
}
